@import 'tailwindcss';
@plugin "daisyui";
@plugin "daisyui/theme" {
  name: 'wireframe';
  default: true;
  --color-primary: #ffbf00;
  --color-primary-content: #657389;
  --color-accent: #34475b;
}

@font-face {
  font-family: 'Jost';
  src: url('/fonts/jost-variable.ttf') format('truetype');
}

@font-face {
  font-family: 'Jost';
  src: url('/fonts/jost-italic-variable.ttf') format('truetype');
  font-style: italic;
}

html {
  font-family: 'Jost', sans-serif;
  scroll-behavior: smooth;
  line-height: 1.5;
}
